.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
}

.infected {
border-bottom: 10px solid #0a9dff;
}

.recovered{
border-bottom: 10px solid #03cc00;
}

.deaths{
border-bottom: 10px solid #ff0000;
}